

body {
max-width: 40em;
margin: 0 auto;
padding: 5px;
font-family: Georgia,serif;
font-size: 20px;
line-height: 30px;
background-color: #000;
color: #ccc;
}



header {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: bold;
  font-family: Georgia (serif), Verdana (sans-serif);
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
 
  }



header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
  margin: 0 auto;
}



.btn {
  display: inline-block;
  background: #4744cc ;
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.current {
  color: green;
}

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}


#a-title {
  text-decoration: none;
  text-align: center;
}

#desc {
  text-align: center;
}

a:link { text-decoration: none; }

#main_content h1 {
  font-size: 30px;
  color: #63c0f5;
}
