.current {
    color: greenyellow;
  }
.paragraph {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}

.hero {
  grid-column: 1 / -1;
  position: relative;
}
.hero-title {
  text-align: justify;
  color: orange
  red;
  font-size: 8rem;
}
.hero-subtitle {
  font-size: 2.4rem;
  color: orangered;
  text-align: justify
  ;
}
.heading {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}
