

body {
max-width: 40em;
margin: 0 auto;
padding: 5px;
font-family: Georgia,serif;
font-size: 20px;
line-height: 30px;
background-color: #000;
color: #ccc;
}



header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 auto;;
  font-weight: bold;
  font-family: "Cooper Black", Georgia (serif), Verdana (sans-serif);
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px dashed #b5e853;

  }



header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}



.btn {
  display: inline-block;
  background: #4744cc ;
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}





h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.5 ;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}


section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Georgia (serif), Verdana (sans-serif), Arial (sans-serif);
  color: #6a9fb5;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
}


/* Buttons
*/





.btn:hover {
  background: #4744cc ;
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}


/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

#a-title {
  text-decoration: none;
  text-align: center;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { 
  text-decoration: none;
   border-bottom: 2px solid;
}


a:active { text-decoration: none; }

#desc {
  text-align: center;
}

.Responsive {  
  width: 100%;
  max-width: 400px;
  height: auto;
}

.current {
  color: green;
}



